<div class="dashboard-content">
    <div class="dashboard">
        <div class="left">
            <h2 color="primary">Simon NGUYEN</h2>
            <p>
                Passionné par l'informatique, je me spécialise dans l'Intelligence Artificielle et le Big Data.
                Mon ambition est de développer des solutions innovantes qui répondent aux défis modernes.
                Je suis constamment à la recherche de nouvelles connaissances et compétences pour rester à la pointe de ce domaine en perpétuelle évolution.
            </p>
            <button mat-raised-button color="primary" (click)="navigateToProjects()">Voir les Projets</button>
        </div>
        <div class="right">
            <img src="assets/images/Developer.png" alt="Developer">
        </div>
    </div>
</div>
  